html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;                
  min-height: 100vh;           
  overflow-x: hidden;          
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100vh;           
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}